@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
body{
    height: 100%;
    font-family: 'Heebo';
    font-size: 16px;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
._container{
    max-width: 681px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
.ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.fullscrean{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header {
    // .header__container
    &__container {
        max-width: 946px;
        margin: 0 auto;
        min-height: 60px;
        padding: 27px 15px;
        box-sizing: border-box;
    }
    // .header__menu
    &__menu {
        display: flex;
        justify-content: flex-end;
        @media (max-width:260px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}
.menu-header {
    // .menu-header__item
    &__items{
        &:not(:last-child){
            padding-right: 33px;
        }
    }
    &__item {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(29/20*100%);
        color: #000000;
        &:hover{
            color: #FF6464;
            transition: all .3s;
        }
    }
}
.footer {

    // .footer__container

    &__container {
        max-width: 235px;
        margin: 0 auto;
    }

    // .footer__content

    &__content {
        display: flex;
        justify-content: space-between;
        &:not(:last-child){
            margin-bottom: 26px;
        }
    }

    // .footer__link

    &__link {
    }

    // .footer__text

    &__text {
        font-size: 14px;
        line-height: calc(21/14*100%);
        text-align: center;
        color: #21243D;
    }
}
//----------------------------------
.page-blog {
    padding: 90px 0 100px 0;
    @media (max-width:560px) {
        padding: 24px 0 60px 0;
    }
    // .page-blog__container
    &__container {
    }

    // .page-blog__title

    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 136%;
        color: #21243D;
        &:not(:last-child){
            padding-bottom: 55px;
        }
        @media (max-width:560px) {
            font-size: 30px;
            &:not(:last-child){
                padding-bottom: 18px;
            }
        }

    }

    // .page-blog__body

    &__body {
    }

    // .page-blog__column

    &__column {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 17px;
        margin-top: 32px;
        @media (max-width:560px) {
            padding-bottom: 24px;
            margin-top: 18px;
            
        }
    }
}
.column-blog {

    // .column-blog__title

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: calc(44/30*100%);
        color: #21243D;
        &:not(:last-child){
            padding-bottom: 16px;
        }
        @media (max-width:560px) {
            font-size: 26px;
            &:not(:last-child){
                padding-bottom: 5px;
            }
            
        }
    }

    // .column-blog__name

    &__name {
        font-size: 20px;
        line-height: calc(29/20*100%);
        color: #21243D;
        &:not(:last-child){
            padding-bottom: 6px;
        }
        @media (max-width:560px) {
            font-size: 16px;
            
        }
    }
    .column-blog__span{
        color: #8695A4;
    }
    // .column-blog__text

    &__text {
        line-height: calc(24/16*100%);
        color: #21243D;

    }
}
